
<article>
  <p><%= comment.content %></p>
  <small>by <%= comment.user.name %></small>

  <% if @current_user.present? && comment.user_id == @current_user.id %>
  <%= link_to 'Delete', [comment.recipe, comment], method: 'delete' %>
    <% end %>
</article>
<hr>