<h2>All Users on the Database</h2>
<div class="users_index">
<ul >
  <% @users.each do |u|%>
    <li>
      <%= cl_image_tag u.image, height: 200, width: 200, crop: 'fill', alt: u.name%>
      <br>
      <%= link_to u.name, user_path(u.id) %>
    </li>
    <br>
  <% end %>
</ul>

</div>

