<div class="user_index">
  <h2><%= @user.name %></h2>

  <%= image_tag @user.image, alt: @user.name%>
  <br>
  <p>
    <strong>Bio:</strong>
    <%= @user.bio%>
  </p>
  <br>
  <p>
    <strong>Get in touch:</strong>
    <%= @user.email%>
  </p>
  <br>
  <p>
    <strong>My recipes:</strong>
    
    
  </p>



</div>
