
<h2>Welcome to the recipe database!</h2>
<p>You will find a world of recipes from people around the globe</p>

<h3>All Recipes</h3>

<ul>
<% @recipes.each do |recipe|%>
  <li>
    <%= recipe.name %>
    <br>
    |
    <%# recipe.user%>
    <%= recipe.description%>
  </li>

  <% end %>
</ul>


