<div class="homepage_header">
  <h2> The Worlds Most Useful Useless Recipe database!</h2>
  <p>You will find a world of recipes from people around the globe</p>
</div>


<div class="homepage-content">
<h3>Trending Recipes:</h3>

<ul>

<% @recipes.each do |recipe|%>
  <li class='homepage-links'>
  <%= link_to recipe.name, recipe_path(recipe.id) %>
    <br>
   <p class='li-p'><%= recipe.description %></p> 
    
  </li>
<% end %>
</ul>
</div>



