
<h2> The Worlds Most Useful Useless Recipe database!</h2>
<p>You will find a world of recipes from people around the globe</p>
<br>

<h2>Welcome</h2>



<h3>Trending Recipes</h3>

<ul>

<% @recipes.each do |recipe|%>
  <li>
  <%= link_to recipe.name, recipe_path(recipe.id) %>
    <br>
    
    <%# recipe.user%>
    <%= recipe.description%>
  </li>

  <% end %>
</ul>


